body {
  background-color: lightblue;
}

.reveal_anim {
  animation: reveal 3s linear forwards;
}

@keyframes reveal {
  0% {
    font-size: 1.5em;
  }
  33% {
    font-size: 5em;
  }
  66% {
    font-size: 5em;
  }
  100% {
    font-size: 1.5em;
  }
}
