doctype html
html
    head
        script(src='/vue.js')
        script(src='/jquery-3.2.1.js')
    body
        div#a(@click="aaaa")
            h1 Hello {{ asdf }}
            p(v-for="item in items") {{ item }} 
        script(src='/test.js')
