doctype html
html
  head
    script(src='/vue.js')
    script(src='/jquery-3.2.1.js')
    script(src='/state-machine.js')
  body
    #game
      h3 round {{ round }}
      .screen#joining-container(@click="startGame" style="display:none")
        h1(v-for="player in players") {{ player.name }}

      .screen#main-container(@click="cont" style="display:none")
        h1 {{ currQuestion }}
        h2(v-if="liesReady" v-for="lie in lies") {{ lie.text }}

      .screen#results-container(@click="startGame" style="display:none")
        h1(v-for="player in players") {{ player.name }} {{ player.score }} 

      h3 {{ debugMsg }}

    script(src='/game.js')
