body {
  background-color: lightblue;
}

.score {
  font-size: 3em;  
  list-style: none;
  padding-left: 30px;
}

.score:first-child {
  border-radius: 40px 0px 0px;
  border-style: solid none none solid;
  border-width: 7px;
  border-color: white;
}

.score:last-child {
  border-radius: 0px 0px 0px 40px;
  border-style: none none solid solid;
  border-color: white;
  border-width: 7px;
}

.score:nth-child(1) {
  background: #ff6f69;
}

.score:nth-child(2) {
  background: #588c7e;
  border-left: solid 7px;
  border-color: white;
}

.score:nth-child(3) {
  background: #ffcc5c;
  border-left: solid 7px;
  border-color: white;
}

.score:nth-child(4) {
  background: #82b74b;
  border-left: solid 7px;
  border-color: white;
}

.score:nth-child(5) {
  background: #ffeead;
  border-left: solid 7px;
  border-color: white;
}

.answer {
  float: left;
  margin-left: 20px;
  margin-right: 20px;
}

.correct-answer {
  color: green;
}

#player {
  float: left; 
  margin-left: 20px;
  margin-right: 20px;
}

#debug {
  clear: left
}

.scores-slideout {
  position: relative;
  float: right;
  width: 30vw;
  height: 100vh;
  padding 30px;
  transform: translateX(0);
}

.slide-enter-active, .slide-leave-active {
  /* replace with cubic-bezier curve easing (bounce) */
  transition: all .8s ease;
}

.slide-enter {
  transform: translateX(100%);
}

/* Why doesn't 
 *
 * |.slide-leave {
 * |   transform: translateX(0);
 * | }
 *
 * work? and why does this \/ work?
 */

.slide-leave-to {
  transform: translateX(100%);
}

.reveal_anim {
  animation: reveal .3s linear forwards;
}

@keyframes reveal {
  0% {
    font-size: 1.5em;
  }
  33% {
    font-size: 5em;
  }
  66% {
    font-size: 5em;
  }
  100% {
    font-size: 1.5em;
  }
}
