body {
  //background-color: lightblue;
  background-color: #b24542;
}

#question {
  display: flex;
  justify-content: center;
  position: absolute;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  padding: 0 100px 0 100px;
  font-size: 4em;
  font-family: 'Abril Fatface', cursive;
  font-weight: 100;
  color: #FFDC00;
}

.score {
  font-size: 3em;  
  list-style: none;
  padding-left: 30px;
}

.score:first-child {
  border-radius: 40px 0px 0px;
  border-style: solid none none solid;
  border-width: 7px;
  border-color: white;
}

.score:last-child {
  border-radius: 0px 0px 0px 40px;
  border-style: none none solid solid;
  border-color: white;
  border-width: 7px;
}

.score:nth-child(1) {
  background: #ff8c0f;
}

.score:nth-child(2) {
  background: #588c7e;
  border-left: solid 7px;
  border-color: white;
}

.score:nth-child(3) {
  background: #ffcc5c;
  border-left: solid 7px;
  border-color: white;
}

.score:nth-child(4) {
  background: #64962f;
  border-left: solid 7px;
  border-color: white;
}

.score:nth-child(5) {
  background: #adfeff;
  border-left: solid 7px;
  border-color: white;
}

.score:nth-child(6) {
  background: #ff6464;
  border-left: solid 7px;
  border-color: white;
}

#answers-container {
  display: inline-flex;
  position: absolute;
  flex-direction: row;
  justify-content: space-around;
  align-content: space-around;
  flex-wrap: wrap;
  align-items: flex-start;
  top: 33%;
  left: 0;
  right: 10%;
  bottom: 10%;
}

.answer {
  margin: 50px;
  font-size: 2em;
  padding: 12px;
  //background: #034f84;
  background: #12635E;
  border: solid white;
  border-radius: 10px;
  color: white;
  font-family: Tahoma, Verdana, Sagoe, sans-serif;
}

.correct-answer {
  color: green;
}

.answer-info {
  font-size: 25px;
  position: absolute;
  display: block;
}

.answer-author {
  white-space: nowrap;
  display: block;
  float: left;
  border-radius: 10px 10px 10px 0px;
  padding: 5px;
  background: #ff8C0F;
}

.answer-chosen-by {
  white-space: nowrap;
  display: block;
  float: left;
  border-radius: 0px 10px 10px 10px;
  padding: 5px;
  background: #404040;
}

#joining-container {
  height: 100vh;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: flex-start;
  display: flex;
}

#title {
  position: absolute;
  top: 10vh;
  display: flex;
  justify-content: center;
  padding: 0px 30px 0px 30px;
  color: #ff8c0f;
  font-size: 4.5em;
  font-family: 'Abril Fatface', cursive;
  background: white;
  border-width: 8px 8px 8px 8px;
  border-radius: 70px 70px 70px 70px;
  border-style: solid;
  border-color: #12635e;
}

#fibfingers {
  width: 200px;
  height: 300px;
  position: absolute;
  top: 30vh;
  background: white;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  border-width: 8px 8px 8px 8px;
  border-radius: 50px 50px 50px 0px;
  border-style: solid;
}

#players {
  display: flex;
  align-self: flex-end;
  margin-bottom: 100px;
}

.player {
  margin-left: 30px;
}

#winner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-size: 4em;
}

#debug {
  clear: left
}

.score-addition {
  position: absolute;
  top: -25px;
  color: #64962F;
  animation: score_addition_anim 1.5s linear forwards;
}

@keyframes score_addition_anim {
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    top: -50px;
  }
}

.scores-slideout {
  position: relative;
  float: right;
  width: 45vw;
  height: 100vh;
  padding 30px;
  transform: translateX(0);
  z-index: 999;
}

.slide-enter-active, .slide-leave-active {
  /* replace with cubic-bezier curve easing (bounce) */
  transition: all .8s ease;
}

.slide-enter {
  transform: translateX(100%);
}

/* Why doesn't 
 *
 * |.slide-leave {
 * |   transform: translateX(0);
 * | }
 *
 * work? and why does this \/ work?
 */

.slide-leave-to {
  transform: translateX(100%);
}

.shake {
  animation: shake_anim 3s linear forwards;
}

@keyframes shake_anim {
  5% {
    transform: rotate(-5deg);
  }
  10% {
    transform: rotate(5deg);
  }
  15% {
    transform: rotate(-5deg);
  }
  20% {
    transform: rotate(5deg);
  }
  25% {
    transform: rotate(-5deg);
  }
  30% {
    transform: rotate(5deg);
  }
  35% {
    transform: rotate(-5deg);
  }
  40% {
    transform: rotate(5deg);
  }
  45% {
    transform: rotate(-5deg);
  }
  50% {
    transform: rotate(5deg);
  }
  55% {
    transform: rotate(-5deg);
  }
  60% {
    transform: rotate(5deg);
  }
  65% {
    transform: rotate(-5deg);
  }
  70% {
    transform: rotate(5deg);
  }
  75% {
    transform: rotate(-5deg);
  }
  80% {
    transform: rotate(5deg);
  }
  85% {
    transform: rotate(-5deg);
  }
  90% {
    transform: rotate(5deg);
  }
  95% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
    transform: scale(1.2);
  }
}
